body{
  text-align: left;
  max-width: 1700px;
  min-width: 600px;
  width:70%;
  padding: 15px;
  background-color: #70E8F9;
  color: #2A7690;
  font-family: 'Roboto', sans-serif;
}

h1{
  text-align: center;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}